/* @define-color high #C8A2F7;
@define-color text-dark #11111B;
@define-color text-high #CDD6F4;
@define-color term #1E1E2E;
@defime-color dark #11111B; */
@define-color text #cdd6f4;
@define-color blue #89b4fa;
@define-color base #1e1e2e;
@define-color crust ##11111b;

* {
	font: JetBrainsMonoNerdFont 14;
}

#input {
	margin: 10px; /* how much padding there is around the input box */
	border: 0px; /* border around the input box */
	border-radius: 8px;
	outline: none;
	box-shadow: none;
	background-color: @crust; /* background color of the text input box itself */
	color: @text; /* text color as you type inside the input box */
	border-color: @blue;
}

#entry {
	border-radius: 8px;
}

#entry:selected{
	background-color: @blue;
	color: @crust;
	outline: none;
	border: none;
}

#text:selected{
	font-weight: bold;
	color: @crust;
	outline: none;
}

#inner-box {
	margin: 5px;
	box-shadow: none;
	border: none; /* horizontal bar that appears above the search results */
	background-color: @base; /* background color behind the search results */
    color: @text; /* text color of each search result */
}

#outer-box {
	border-radius: 8px;
	margin: 5px; /* margin between the outer edges of the main window and its contents inside */
	border: none; /* border around all the internal window components */
	background-color: @base; /* background color of entire inner window */
}

#text {
	outline: none;
	font-weight: 300;
	margin: 5px;
	border: none; /* border around each individual item within the search results */
	background-color: transparent; /* background behind each individual item within the search results */
    color: @text;
}

/* Remove the search icon 
#input > image.left {
        -gtk-icon-transform:scaleX(0);
}
*/

#scroll {
	margin: 6px;
	background-color: @base; /* background color behind the search slider */
}



window {
	margin: 10px;
	border: 2px solid @blue; /* border around the entire window */
	border-radius: 10px;
	background-color: @base;
}
